
#app_name{
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: normal;
    font: normal;
    font-weight: lighter;
    font-size: 150%;
}


/*.nav-item {
	padding-left:5%;
	padding-right:5%;
} */

.nav-item:hover{
	background-color: rgb(51, 53, 51);
}

.nav-language {
	text-decoration: none;
}


.list-lang {
	list-style-type: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../../assets/icons/languages.svg");
}

ul.list-lang {
	list-style-type: none;
}

.language-link {
	text-decoration: none; 
	color: black;
}
