
#app_name{
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: normal;
    font: normal;
    font-weight: lighter;
    font-size: 200%;
	margin-left: 2%;
	margin-right: 2%;
}


/*.nav-item {
	padding-left:5%;
	padding-right:5%;
} */

.nav-item:hover{
	background-color: rgb(251, 253, 251);
}

.nav-language {
	text-decoration: none;
}


.list-lang {
	list-style-type: none;
}
