<div class='white_panel'>
  <div id='app_name'><a routerLink="/home"> {{applicationName}} </a></div>
  <div class='align_right'>
        <nav>
            <a class="nav_item" i18n routerLink="/dashboard" routerLinkActive="routerActive">Home</a>
        </nav>
        <nav>
            <a class="nav_item" i18n routerLink='/cottage' routerLinkActive="routerActive">Cabin</a>
        </nav>  
        <nav>
            <a class="nav_item" i18n routerLink="/reservation" routerLinkActive="routerActive">Reservation</a>
        </nav>  
  </div>
  <div id="languagepicker">
    <ul class="languagepicker roundborders">
        <a href="#en"><li><img src="../assets/images/english_flag.png"/>English</li></a>
        <a href="#sw"><li><img src="../assets/images/swedish_flag.jpg"/>Swedish</li></a>
    </ul>
  </div>
</div>