
<div class="container mb-4 px-4">
  <div class="rounded frame">

      <div class="header w-100 rounded-top">
        <span class="float-right text-white mr-2">{{reservation.status}}</span>
          <div class="text-white ml-2">{{'From: ' + dateFormat(reservation.fromDate)}}</div>
        <div class="text-white ml-2">{{'To: ' + dateFormat(reservation.toDate)}}</div>
      </div>

    <div class="row d-flex justify-content-around p-2">
      <div class="col-sm-4"> <img class="row-img" src="/assets/icons/user.svg" alt="name:"> {{reservation.LastName + " " + reservation.firstName }} </div>
      <div class="col-sm-4"> <img class="row-img" src="/assets/icons/mail.svg" alt="mail:">  {{reservation.email}} </div>
    </div>
    <div class="row d-flex justify-content-around p-2">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
          <span *ngIf="reservation.phone != null && reservation.phone.length > 0">
            <img class="row-img" src="/assets/icons/telephone.svg" alt="phone:"> {{reservation.phone}} 
          </span>
        </div>
    </div>
<!--32C79D--> 

    <div id="button_panel" class="justify-content-end row m-3">
      <button class="btn btn-sm btn-outline-primary m-2" (click)="approve()" [disabled]="reservation.status !== 'new'">Approve</button>
      <button class="btn btn-sm btn-outline-primary m-2" (click)="reject()" [disabled]="reservation.status !== 'new'">Reject</button>
    </div>
  </div>
</div>
