<div class="container">
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="onDateNavigate($event.next); date = $event.next" [dayTemplate]="td" [markDisabled]="isFromDateDisabled"></ngb-datepicker>

    <div id="legend">
        <ul>
            <li *ngFor="let l of legend">
                <p class="{{l.color}}">{{l.name}}</p>
            </li>
        </ul>
    </div>

    <div id="control">
        <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
        <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
    </div>

</div>

<ng-template #td let-date="date" let-selected="selected" let-disabled="disabled">
    <span class="custom-day"
          [class.faded]="isDateBooked(date)"
          [class.selected]="selected"
          [class.disabled]="disabled"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>

