.slideElement img{
  width: 100%;
  height: 100%;
}

.slideElement{
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;

  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  margin: auto;
}

.fullscreen{
  width: 100vw !important;
  height: 100vh !important;
}

.embeded{
  /* fill parent element */
  width: 100%;
  height: 100%;
}
