<app-navigation-bar></app-navigation-bar>
<div class='container'>
    <h3 i18n>Welcome to Martines Stuga</h3>
    <p i18n>
        Ideally situated in Angelhöm's bay, this cottage will allow you to fully enjoy your holiday in Skane.
    </p>
    <p i18n>
        Discover the charm of this part of Sweden.
    </p>

    <p i18n></p>
    <br>
    <br>

    <h4 i18n>Localisation</h4>
    <div class="container">
            <div class="p-2 d-flex flex-row">
                <div class="p-2"> <img class="icons" src="/assets/icons/maps_location.svg" /></div>
                <div class="p-2">
                 <p>Råbockavägen 40 <br/>
                        262 63 Ängelholm<br/>
                        Sweden<br/>
                </p>
            </div>
            </div>
            <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>

    </div>
    
</div>