/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.white_bg_button{
    background: transparent;
    background-repeat:no-repeat;
    color: azure;
    padding: 4%;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 2px solid azure;
    font-size: 120%;
}

h2, h3, h4{
    font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: normal;
    font: normal;
    font-weight: lighter;
    margin-bottom: 1%;
}


.routerActive{
    border-bottom: 3px solid rgb(118, 228, 118);
}